fetch-retries=3
fetch-timeout=120000
ignore-scripts=neverBuiltDependencies
strict-peer-dependencies=true
engine-strict=true
auto-install-peers=true
# useful to totally avoid lockfile merge conflicts and solve it later
# merging git branch lockfiles using: `pnpm install --merge-git-branch-lockfiles`
# ref: https://pnpm.io/git_branch_lockfiles
git-branch-lockfile=true
@coverse-tech:registry=https://gitlab.com/api/v4/projects/61355522/packages/npm/
//gitlab.com/api/v4/projects/61355522/packages/npm/:_authToken=${GITLAB_TOKEN}
